<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%# google fonts links %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <%# css link %>
    <link rel="stylesheet" href="/styles/main.css" />

    <title>DealHeal</title>
  </head>
  <body>
    <%# including the header ejs to the front end %> 
   <%# Hero Section %>
    <%- include("partials/header.ejs") %> 
    <section id="hero-section">

      <div id="hero-flex">

      <div id="hero-div" class="josefin-sans">
       
        <h1>Simple web app that gives current steam deals/discount</h1><hr>
      
        <input
          class="custom-text-input"
          type="text"
          placeholder="MAX NORMAL PRICE IN $"
        />
  
        <input
          class="custom-text-input"
          type="text"
          placeholder="MAX DISCOUNT PRICE IN $"
        />
<br><br>
        <input class="custom-btn" type="button" value="filter">
     </div>

    </div>
    </section>

    <%# Discount items section %>
    <section id="discount-section">
      <div class="grid-container josefin-sans">
        <% content.forEach(contentItem=>{ %>
        <div class="card">
          <p><strong> <%= contentItem.title %></strong></p>
          <hr />
          <img
            class="thumb-img"
            src="<%= contentItem.thumb %>"
            alt="Thumb Image"
          />
          <p>Normal Price : <%= contentItem.normalPrice %>$</p>
          <p>Discount Price : <%= contentItem.salePrice %>$</p>
          <hr />
          <p>Steam Rating : <%= contentItem.steamRatingText %></p>
        </div>
        <% }) %>
      </div>
    </section>
  </body>

  <footer><%- include("partials/footer.ejs") %></footer>
</html>
