<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%# google fonts links %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    

    <%# css link %>
    <link rel="stylesheet" href="/styles/main.css" />

    <title>DealHeal</title>
  </head>
  <body>
    <%# including the header ejs to the front end %>  <%-
    include("partials/header.ejs") %>
    <%# Hero Section %>
    <section id="hero-section">
      <div id="hero-flex">

        <div>
          <img id="img-card" src="/images/amine.jpg" alt="">
        </div>

        <div id="hero-div" class="mona-sans">
          <h1>Steam Discounts & Deals</h1>
          <hr />
          <%# filter price form %>
          <form action="/filterPrice" method="post">
            <input
              class="custom-text-input"
              name="discountPrice"
              type="text"
              placeholder="MAX DISCOUNT PRICE IN $"
            />
            <br />
            <input class="custom-btn" type="submit" value="filter" />
          </form>

        </div>

        <div id="info-card" class="mona-sans">
         <h2>Website Status</h2><hr>
         <p>active</p>
        </div>

      </div>
    </section>

    <%# Discount items section %>
    <section id="discount-section">
      <div class="grid-container mona-sans">

        <%# using forEach to display each item in the content object passed from the express %>
        <% content.forEach(contentItem=>{ %>
        <div class="card">
          <p><strong> <%= contentItem.title %></strong></p>
          <hr />
          <img
            class="thumb-img"
            src="<%= contentItem.thumb %>"
            alt="Thumb Image"
          />
          <p>Discount Price : <%= contentItem.salePrice %>$</p>
          <p>Normal Price : <%= contentItem.normalPrice %>$</p>
          <hr />
          <p>Steam Rating : <%= contentItem.steamRatingText %></p>
        </div>
        <% }) %>
      </div>
    </section>
  </body>
<%# including the footer ejs to the front end %>
  <footer><%- include("partials/footer.ejs") %></footer>
</html>
